
*,*::after,*::before{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    border: 0;
}

.container{
    background-image: url(./Simplepic.jpeg);
    height: 100vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

 .form-group {
    background-color: rgb(226, 130, 4);
    width: 40%;
    height: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 7em;
    font-family: sans-serif;
    padding: 1.5em 1.5em;
    padding-left: 2em;
    border-radius: 2rem;
    opacity: 0.8;
    display: inline-block;
}

input[type="text"]{
    background: transparent;
    border: 1px solid lawngreen;
    border-radius: 10px;
    height: 3em;
    text-align: center;
    width: 100%;
}

.text{
    color: navy;
}